<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">

  <!-- metadta -->
  <title>hugsite</title>
  <meta name="section" content="preface">

  <!-- i am wroth to include these googlefonts, i can't get the woff conversion to work -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">

  <!-- rules -->
  <link href="./rules.css" rel="stylesheet">
</head>

<body>
  <div class="Hugkin">
    {{content}}
  </div>
</body>

</html>
