/* resets */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote {
  margin: 0;
}

/* container */
.Hugkin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: min(18px, 1.92vh);
  font-family: "Noto Serif JP", serif;
}

/* pages */
.Page {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 63.58vh;
  height: 90vh;
  max-width: 592px;
  max-height: 838px;
  box-shadow: 10px 10px 20px rgba(0.0, 0.0, 0.0, 0.10);
  box-sizing: border-box;
  border-radius: 4px;
}

.Page main {
  position: relative;
  height: 100%;
  margin: 13.51%;
}

.Page footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 9.59%;
  width: 100%;
  padding: 0 13.51%;
  padding-bottom: 2.15%;
  color: #4C4C4C;
  box-sizing: border-box;
}

.Page-next {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6.76%;
  height: 4.77%;
  background-color: white;
}

.Page-next:hover {
  background-color: azure;
}

/* standard */
.Page--text h1 {
  font-size: 3em;
  margin-bottom: 5%;
}

.Page--text p + p {
  margin-top: 1em;
}

/* title */
.Page--title main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page--title h1 {
  font-size: 6em;
}

.Page--title address {
  position: absolute;
  bottom: 0;
  font-size: 1em;
}

/* quote */
.Page--quote main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page--quote figcaption {
  margin-top: 8%;
  text-align: right;
}

/* cards 592 838 */
.CardGrid {
  display: grid;
  row-gap: 3.5%;
  column-gap: 14%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 4% 13% ;
}

.Card {
  border-radius: 4px;
}

.Card img {
  width: 100%;
}

/* hugkins */
.Softy, .Spiny {
  color: transparent;
  text-shadow: 0 0 0 red;
}

.Pokey, .Lumpy {
  color: transparent;
  text-shadow: 0 0 0 black;
}
